*{
    margin: 0px;
    width: auto;
    height: auto;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
}
body{
    width: 100%;
    /*background-image: linear-gradient(10deg, #800 45%, #f10f80);*/
    /*background-image: radial-gradient(#800, #f10f80);*/
    /*background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4f0);*/
}
.card{
    margin: auto;
    margin-top: 10%;
    width: 35%;
    padding: 15px;
    min-height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: wheat;
    border-radius: 10px;
    text-align: center;
}
.card:hover{
    cursor: pointer;
    background-color: wheat;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.container{
    width: 100%;
}
.btn{
    float: left;
    margin: 20px;
    width: auto;
    height: 15px;
    padding: 10px;
    color: white;
    background-color: #8ec5fc;
    text-decoration: none;
    text-shadow: 1px 1px #800;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}